# Preprocessing the Data

This notebook is showed to both run and demonstrate the preprocessing on the raw mock data. The goal is to apply one hot encoding to all of the categorical attributes, process the list attributes, and apply normalization to the numerical features. It will then create a train/test split based on the ratio specified (default is 80% train, 20% test).

In [29]:
import pandas as pd
from sklearn.model_selection import train_test_split

## Raw Data

In [30]:
df = pd.read_csv("raw/CopyFinalDATA.csv")

df

,Employee ID,Role,Hourly/Salary,# of Badges,Badges,Years at Company,Visited page,Recommended page
0,D123462,CBEX Associate,Salary,4,"Banking Foundations, Risk Management, Jira Mas...",6,"3,4,8",3
1,D123469,CBEX Associate,Salary,4,"Banking Foundations, Risk Management, Jira Mas...",4,"3,4",3
2,D123476,CBEX Associate,Salary,4,"Banking Foundations, Risk Management, Jira Mas...",6,"3,8",3
3,D123483,CBEX Associate,Salary,4,"Banking Foundations, Risk Management, Jira Mas...",4,"3,1",3
4,D123490,CBEX Associate,Salary,4,"Banking Foundations, Risk Management, Jira Mas...",6,"3,1,8",3
...,...,...,...,...,...,...,...,...
129,D324390,Scrum Master,Salary,4,"Microservices, Secure Dev, Jira Master, Risk M...",6,"8,5",8
130,D324391,Software Engineer,Hourly,2,"Risk Management, Data Literacy",8,"2,5",5
131,D324392,Software Engineer,Salary,2,"Agile Master, Jira Master",2,0,8
132,D324393,Software Engineer,Salary,3,"Agile Master, Jira Master, Becoming a Manager",1,"5,7",5
133,D324394,Software Engineer,Salary,1,Data Literacy,0,0,5

## Normalize Numeric Attributes

In [31]:
df["# of Badges"] = (df["# of Badges"] - df["# of Badges"].min()) / (df["# of Badges"].max() - df["# of Badges"].min())
df["Years at Company"] = (df["Years at Company"] - df["Years at Company"].min()) / (df["Years at Company"].max() - df["Years at Company"].min())

df

,Employee ID,Role,Hourly/Salary,# of Badges,Badges,Years at Company,Visited page,Recommended page
0,D123462,CBEX Associate,Salary,0.8,"Banking Foundations, Risk Management, Jira Mas...",0.206897,"3,4,8",3
1,D123469,CBEX Associate,Salary,0.8,"Banking Foundations, Risk Management, Jira Mas...",0.137931,"3,4",3
2,D123476,CBEX Associate,Salary,0.8,"Banking Foundations, Risk Management, Jira Mas...",0.206897,"3,8",3
3,D123483,CBEX Associate,Salary,0.8,"Banking Foundations, Risk Management, Jira Mas...",0.137931,"3,1",3
4,D123490,CBEX Associate,Salary,0.8,"Banking Foundations, Risk Management, Jira Mas...",0.206897,"3,1,8",3
...,...,...,...,...,...,...,...,...
129,D324390,Scrum Master,Salary,0.8,"Microservices, Secure Dev, Jira Master, Risk M...",0.206897,"8,5",8
130,D324391,Software Engineer,Hourly,0.4,"Risk Management, Data Literacy",0.275862,"2,5",5
131,D324392,Software Engineer,Salary,0.4,"Agile Master, Jira Master",0.068966,0,8
132,D324393,Software Engineer,Salary,0.6,"Agile Master, Jira Master, Becoming a Manager",0.034483,"5,7",5
133,D324394,Software Engineer,Salary,0.2,Data Literacy,0.000000,0,5

## One Hot Encoding

In [32]:
badges_dummies = df["Badges"].str.get_dummies(sep=", ")
df = df.drop("Badges", axis=1)
df = df.join(badges_dummies)

visited_dummies = df["Visited page"].str.get_dummies(sep=",")
df = df.drop("Visited page", axis=1)
df = df.join(visited_dummies)

role_dummies = pd.get_dummies(df["Role"])
df = df.drop("Role", axis=1)
df = df.join(role_dummies)

hourly_dummies = pd.get_dummies(df["Hourly/Salary"])
df = df.drop("Hourly/Salary", axis=1)
df = df.join(hourly_dummies)

df

,Employee ID,# of Badges,Years at Company,Recommended page,AWS Apprentice,Agile Master,Banking Foundations,Becoming a Manager,Data Literacy,Jira Master,...,8,CBEX Associate,Cloud Engineer,Data Analyst,HR Associate,Innovation Manager,Scrum Master,Software Engineer,Hourly,Salary
0,D123462,0.8,0.206897,3,0,0,1,0,0,1,...,1,1,0,0,0,0,0,0,0,1
1,D123469,0.8,0.137931,3,0,0,1,0,0,1,...,0,1,0,0,0,0,0,0,0,1
2,D123476,0.8,0.206897,3,0,0,1,0,0,1,...,1,1,0,0,0,0,0,0,0,1
3,D123483,0.8,0.137931,3,0,0,1,0,0,1,...,0,1,0,0,0,0,0,0,0,1
4,D123490,0.8,0.206897,3,0,0,1,0,0,1,...,1,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,D324390,0.8,0.206897,8,0,0,0,0,0,1,...,1,0,0,0,0,0,1,0,0,1
130,D324391,0.4,0.275862,5,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
131,D324392,0.4,0.068966,8,0,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
132,D324393,0.6,0.034483,5,0,1,0,1,0,1,...,0,0,0,0,0,0,0,1,0,1
133,D324394,0.2,0.000000,5,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,1

## Train/Test Split

In [33]:
train,test = train_test_split(df, train_size= 0.8)

print(f"Number of training samples: {len(train)}")
print(f"Number of testing samples: {len(test)}")

train.to_csv("processed/train.csv", index=False)
test.to_csv("processed/test.csv", index=False)

print("Saved to data/processed!")

Number of training samples: 107
Number of testing samples: 27
Saved to data/processed!