# Preprocessing the Data

This notebook is showed to both run and demonstrate the preprocessing on the raw mock data. The goal is to apply one hot encoding to all of the categorical attributes, process the list attributes, and apply normalization to the numerical features. It will then create a train/test split based on the ratio specified (default is 80% train, 20% test).

Let's import our requirements first:

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

## Raw Data

In [3]:
df = pd.read_csv("raw/HackathonMockDataDraft.csv")

df

,Role,Hourly/Salary,# of Badges,Badges,Years at Company,Visited page
0,Scrum Master,Salary,2,"Agile Master, Jira Master",3,2
1,Software Engineer,Salary,1,Microservices,2,4
2,Data Analyst,Salary,2,"Data Visualization, Banking Foundations",4,1
3,Innovation Manager,Salary,3,Innovation Manager,5,3
4,Cloud Engineer,Salary,1,AWS Apprentice,4,2
...,...,...,...,...,...,...
101,Cloud Engineer,Salary,3,"AWS Apprentice, Jira Master, Microservices",4,3
102,Scrum Master,Salary,1,Agile Master,3,2
103,HR Associate,Salary,2,"HR Associate, Jira Master",5,1
104,Software Engineer,Hourly,4,"Microservices, Secure Dev, Jira Master, Risk M...",4,3
105,CBEX Associate,Hourly,2,"Banking Foundations, Microservices",2,2

## Normalize Numeric Attributes

In [ ]:
# TODO

## One Hot Encoding

In [ ]:
# TODO

## Train/Test Split

In [ ]:
# TODO